.App {
  text-align: center;
}

.App-header {
  background-color: #F2F0DF;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}

.title {
  font-size: 24px;
  margin-left: 10px;
}

.update-button {
  margin-right: 5px;
}

.delete-button {
  margin-left: 5px;
}

.create-event {
  margin-top: 10px;
  align-items: left;
}

.calendar-events {
  z-index: 0;
}

.dropdown {
  z-index: 1;
}

.menu {
  margin-right: 10px;
}