.App {
  text-align: center;
}

.App-header {
  background-color: #F2F0DF;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}
